body{
    background-color: #222529;
}
.navbar{
    /*background-color: #0a53be;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial;
    color: #ffffff;
}

.navbar-item-left{
    display: flex;
    /*background-color: pink;*/
    /*height: 60px;*/
    padding: 10px;
    align-items: center;
}
.navbar-brand{
    /*background-color: white;*/
}

.navbar-item-left-inner-right{
    /*background-color: blue;*/
    /*width: 70px;*/
    padding-top: 5px;
    margin: 5px;
    text-align: center;
    justify-content: center;

}

.navbar-item-right{
    display: flex;
    /*background-color: red;*/
    height: 60px;
    align-items: center;
}

.navbar-item-left-inner-left{
    /*background-color: green;*/
    /*width: 70px;*/
    padding-top: 5px;
    margin: 5px;
    text-align: center;
    justify-content: center;
}

.header{
    column-count: 2;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    background-color: #0a53be;
}

.header-item-left {
    padding: 10px;

}

.header-item-inner-left{
    font-family: Arial;
    font-size: calc(2rem + 4.5vw);
    color: #ffffff;
    font-weight: 700;
    line-height: 1.25;
    margin: 10px;
    width: 100%;
    height: 750px;
    background-color: #6f42c1;
}

.header-item-right{
    background-color: #6ea8fe;
    width: 100%;
    height: 750px;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.babe{
    padding: 10px;
    font-size: 25px;
    font-family: inherit;
}

.header-btn{
    border: none;
    border-radius: 12px;
    height: 45px;
    width: 170px;
    margin: 5px;
    background-color: gray;
    font-size: calc(0.75rem + 0.35vw);
    font-weight: inherit;
    color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image{
    border-radius: 50%;
    width: 60px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.header-item-left-btn-img{
    height: 80px;
    /*background-color: red;*/
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-item-inner-left-btn-img-right{
    font-size: calc(0.75rem + 0.35vw);
    font-family: inherit;
}

.relative-header-item-inner-right{
    position: relative;
    width: 550px;
    height: 650px;
    /*border: 3px solid #73AD21;*/
    display: flex;
    margin: 20px;

}

.absolute-header-item-inner-right{
    position: absolute;
    top: -30px;
    right: -30px;
    /*width: 100px;*/
    height: 7.5rem !important;
    border: 1px solid black;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: none!important;
    padding: 1rem !important;
    text-align: center !important;
    /*background-color: #20c997;*/
}

.img-relative-header-item-inner-right{
    border-radius: 10px;
    width: 550px;
}

.headphone{
    color: red;
    box-sizing: border-box;
    font-size: 1.7rem !important;
    margin-inside: 5px;
}

h6{
    font-weight: 400 ;
    font-size: 0.875em !important;
    margin: inherit;
}

.img-absolute-header-item-inner-left{
    position: absolute;
    border: 3px solid white;
    border-radius: 50px;
    left: -20px;
    top: 30px;
    height: 60px;
    width: 60px;
}

.img-two-absolute-header-item-inner-left{
    position: absolute;
    border: 3px solid white;
    border-radius: 50px;
    left: -30px;
    top: 180px;
    height: 80px;
    width: 80px;
}
