body{
    color: #6ea8fe;
}
.navbar{
    background-color: #0a53be;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    color: black;
}

.navbar-item-left{
    display: flex;
    background-color: black;
    height: 60px;
    padding: 10px;
    align-items: center;
}
.navbar-brand{
    background-color: pink;
    padding-top: 5px;
}

.navbar-item-left-inner-right{
    background-color: pink;
    width: 70px;
    padding-top: 5px;
    margin: 5px;
    text-align: center;
    justify-content: center;

}

.navbar-item-right{
    display: flex;
    background-color: red;
    height: 60px;
    padding: 10px;
    align-items: center;
}

.navbar-item-left-inner-left{
    background-color: green;
    width: 70px;
    padding-top: 5px;
    margin: 5px;
    text-align: center;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6ea8fe;
}
.header-item-inner-left{
    font-family: inherit;
    font-size: calc(2.5rem + 2.5vw);
    font-weight: 700;
    line-height: 4;
    background-color: #0a3622;
}

.navbar-item-left-inner-right{
    background-color: black;
}
