body{
    background-color: #222529;

}

/*class navbar*/
.navbar{
    /*background-color: #0a53be;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial;
    color: #ffffff;
}

.navbar-item-left{
    display: flex;
    /*background-color: pink;*/
    /*height: 60px;*/
    padding: 10px;
    align-items: center;
}
.navbar-brand{
    /*background-color: white;*/
}

.navbar-item-left-inner-right{
    /*background-color: blue;*/
    /*width: 70px;*/
    padding-top: 5px;
    margin: 5px;
    text-align: center;
    justify-content: center;

}

.navbar-item-right{
    display: flex;
    /*background-color: red;*/
    height: 60px;
    align-items: center;
}

.navbar-item-left-inner-left{
    /*background-color: green;*/
    /*width: 70px;*/
    padding-top: 5px;
    margin: 5px;
    text-align: center;
    justify-content: center;
}
/*navbar class*/

/*class harder*/
.header{
    column-count: 2;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    /*background-color: #0a53be;*/
    height: auto;
}

.header-item-left {
    width: 100%;
    height: 700px;
    padding: 10px;
    margin: 20px;
    /*background-color: #6f42c1;*/

}

.header-item-inner-left{
    font-family: Arial;
    font-size: calc(2rem + 4.5vw);
    color: #ffffff;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 30px;

}

.header-item-right{
    /*background-color: #6ea8fe;*/
    width: 100%;
    height: 700px;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.babe{
    padding: 10px;
    font-size: 25px;
    font-family: inherit;
}

.header-btn{
    border: none;
    border-radius: 12px;
    height: 45px;
    width: 170px;
    margin: 5px;
    background-color: gray;
    font-size: calc(0.75rem + 0.35vw);
    font-weight: inherit;
    color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image{
    border-radius: 50%;
    width: 60px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.header-item-left-btn-img{
    height: 80px;
    /*background-color: red;*/
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-item-inner-left-btn-img-right{
    font-size: calc(0.75rem + 0.35vw);
    font-family: inherit;
}

.relative-header-item-inner-right{
    position: relative;
    width: 550px;
    height: 650px;
    /*border: 3px solid #73AD21;*/
    display: flex;
    margin: 20px;

}

.absolute-header-item-inner-right{
    position: absolute;
    top: -30px;
    right: -30px;
    /*width: 100px;*/
    height: 7.5rem !important;
    border: 1px solid black;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: none!important;
    padding: 1rem !important;
    text-align: center !important;
    /*background-color: #20c997;*/
}

.img-relative-header-item-inner-right{
    border-radius: 10px;
    width: 550px;
}

.headphone{
    color: red;
    /*box-sizing: border-box;*/
    font-size: 1.7rem !important;
    margin-inside: 5px;
}

h6{
    font-weight: 400 ;
    font-size: 0.875em !important;
    margin: inherit;
}

.absolute-body-item-inner-right{
    position: absolute;
    right: -25px;
    top: 29rem !important;
}

.fill-warning{
    fill: #f7c32e !important;
}

.img-absolute-header-item-inner-left{
    position: absolute;
    border: 3px solid white;
    border-radius: 50px;
    left: -25px;
    top: 30px;
    height: 50px;
    width: 50px;
}

.img-two-absolute-header-item-inner-left{
    position: absolute;
    border: 3px solid white;
    border-radius: 50px;
    left: -38px;
    top: 135px;
    height: 75px;
    width: 75px;
}

.absolute-item-inner-header{
    position: absolute;
    /*border: 3px solid yellow;*/
    bottom: 7rem !important;
    width: 80rem !important;
    height: 12rem !important;
    margin: 20px;
    color: white;
    /*background-color: white;*/
}

h5{
    font-size: calc(0.25rem + 0.95vw);
    font-family: Arial;
    margin: 10px;
}

.border-inner-absolute-item{
    position: absolute;
    /*border: 3px solid red;*/
    border-radius: 12px;
    bottom: 0rem !important;
    width: 62rem !important;
    height: 8rem !important;
    margin: 10px;
    background-color: #191b1d;
}

.body-border-inner-absolute-item{
    position: absolute;
    /*border: 3px solid red;*/
    bottom: 1rem !important;
    width: 65rem !important;
    height: 6rem !important;
    margin: 10px;
    /*background-color: white;*/
}

.location{
    position: absolute;
    /*border: 3px solid pink;*/
    width: 18rem !important;
    height: 4.2rem !important;
    bottom: -0.8rem !important;
    margin: 10px;
    /*display: flex;*/
    /*align-items: center;*/
}

.body-icon-inner-location{
    /*border: 3px solid darkred;*/
    color: #a1a1a8;
    font-size: 2.5rem !important;
    height: 3.2rem !important;
    margin: 5px;

}

.body-border-inner-location{
    position: absolute;
    border: 2px solid #a1a1a8;
    border-radius: 10px;
    width: 14rem !important;
    bottom: 0rem !important;
    margin: 5px;
    height: 3rem !important;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.check-in-out{
    position: absolute;
    /*border: 3px solid pink;*/
    width: 18rem !important;
    height: 4.2rem !important;
    bottom: -0.8rem !important;
    margin: 10px;
    right: 26.5rem !important;

}

.body-inner-check-in-out{
    /*border: 3px solid darkred;*/
    /*background-color: white;*/
    color: #a1a1a8;
    font-size: 2.5rem !important;
    height: 3.2rem !important;
    margin: 5px;
}

.body-border-inner-check-in-out{
    position: absolute;
    /*background-color: palegreen;*/
    border: 2px solid #a1a1a8;
    border-radius: 10px;
    width: 14rem !important;
    bottom: 0rem !important;
    margin: 5px;
    height: 3rem !important;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.guests-and-rooms{
    position: absolute;
    /*border: 3px solid pink;*/
    width: 18rem !important;
    height: 4.2rem !important;
    bottom: -0.8rem !important;
    margin: 10px;
    right: 7.3rem !important;
}

.body-inner-guests-and-rooms{
    /*border: 3px solid darkred;*/
    /*background-color: white;*/
    color: #a1a1a8;
    font-size: 2.5rem !important;
    height: 3.2rem !important;
    margin: 5px;
}

.body-border-inner-guests-and-rooms{
    position: absolute;
    /*background-color: palegreen;*/
    border: 2px solid #a1a1a8;
    border-radius: 10px;
    width: 14rem !important;
    bottom: 0rem !important;
    margin: 5px;
    height: 3rem !important;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.border-inner-absolute-item-right{
    position: absolute;
    /*border: 3px solid white;*/
    border-radius: 50px;
    right: -30px;
    top: 35px;
    height: 58px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f42c1;

}

.search-border-inner-absolute-item-right{
    font-size: 20px;
}
/*end header*/

/*class section one*/
.section-one{
    /*background-color: #6f42c1;*/
    /*border: 3px solid red;*/
    /*height: 200px;*/
    /*width: auto;*/
    display: flex;
    align-content: center;

}

/*class card-one*/
.card-one{
    /*border: 3px solid rebeccapurple;*/
    border-radius: 10px;
    background-color: #191b1d;
    width: 24rem !important;
    height: 8rem !important;
    margin: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.cute1-img-card-one{
    border-radius: 10px 0px 0px 10px;
    width: 12rem !important;
    height: 8rem !important;
}

.text-one{
    color: white;
    margin: 5px;
}

.t-one{
    color: #a1a1a8;
}
/*class card one end*/

/*class card two*/
.card-two{
    /*border: 3px solid rebeccapurple;*/
    border-radius: 10px;
    background-color: #191b1d;
    width: 24rem !important;
    height: 8rem !important;
    margin: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.cute2-img-card-two{
    border-radius: 10px 0px 0px 10px;
    width: 12rem !important;
    height: 8rem !important;
}

.text-two{
    color: white;
    margin: 5px;
}

.t-two{
    color: #a1a1a8;
}
/*class card two end*/

/*class card three*/
.card-three{
    /*border: 3px solid rebeccapurple;*/
    border-radius: 10px;
    background-color: #191b1d;
    width: 24rem !important;
    height: 8rem !important;
    margin: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.cute3-img-card-three{
    border-radius: 10px 0px 0px 10px;
    width: 12rem !important;
    height: 8rem !important;
}

.text-three{
    color: white;
    margin: 5px;
}

.t-three{
    color: #a1a1a8;
}
/*class card three end*/

/*class card four*/
.card-four{
    /*border: 3px solid rebeccapurple;*/
    border-radius: 10px;
    background-color: #191b1d;
    width: 24rem !important;
    height: 8rem !important;
    margin: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.cute4-img-card-four{
    border-radius: 10px 0px 0px 10px;
    width: 12rem !important;
    height: 8rem !important;
}

.text-four{
    color: white;
    margin: 5px;
}

.t-four{
    color: #a1a1a8;
}
/*class card four end*/

/*class section two*/
.relative{
    background-color: #6ea8fe;
    height: auto;
    width: auto;
}

.section-two-relative{
    position: relative;
    margin: 30px;
    border-radius: 20px;
    width: 37.5rem !important;
    height: 48rem !important;
}

.section-two-absolute{
    position: absolute;
    padding-top: 10px;
    top: 104.5rem !important;
    /*border: 3px solid red;*/
    background-color: #222529;
    width: 18rem !important;
    height: 7rem !important;
    border-radius: 10px;
    display: flex;
    left: 70px;
    /*align-content: center;*/
    /*justify-content: space-between;*/
}

.text-section-two{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.section-two-inner-left{
    color: white;
    margin: 10px;
}

.section-two-inner-right{
    position: absolute;
    right: 0px;
    color: white;
    margin: 10px;
}

.photo-absolute{
    position: absolute;
    bottom: -4px;
    /*border: 3px solid rebeccapurple;*/
    /*background-color: white;*/
    width: 16.9rem !important;
    height: 4.5rem !important;
    margin: 10px;
    display: flex;
    align-items: center;

}

.photo-absolute-inner-left1{
    position: absolute;
    height: 40px;
    width: 40px;
    /*border: 3px solid green;*/
    border-radius: 50px;

}

.photo-absolute-inner-right1{
    position: absolute;
    height: 40px;
    width: 40px;
    /*border: 3px solid green;*/
    border-radius: 50px;
    left: 35px;
}

.photo-absolute-inner-right2{
    position: absolute;
    height: 40px;
    width: 40px;
    /*border: 3px solid green;*/
    border-radius: 50px;
    left: 70px;
}

.photo-absolute-inner-right3{
    position: absolute;
    height: 40px;
    width: 40px;
    /*border: 3px solid green;*/
    border-radius: 50px;
    left: 105px;
}

.photo-absolute-inner-right4{
    position: absolute;
    height: 40px;
    width: 40px;
    color: white;
    /*border: 3px solid red;*/
    background-color: mediumpurple;
    border-radius: 50px;
    left: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-absolute{
    position: absolute;
    bottom: 6px;
    right: 10px;
    color: #f7c32e !important;
    margin: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.like-absolute{
    position: absolute;
    height: 35px;
    width: 35px;
    color: white;
    font-size: 16px;
    /*border: 3px solid green;*/
    background-color: #0a53be;
    border-radius: 50px;
    left: -18px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*class section two end*/

